html { 
  height: 100%;
}

* { box-sizing: border-box;}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #7a7a7a;
  height: 100%;
  margin: 0rem;
  }

.u-md-header,
.header-nav {
  display: none;
}

.Header {
  background-image: url(img/slide_1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  height: 46rem;
  margin-bottom: 5rem;
}

.u-sm-Header {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.u-sm-Header h1 {
  font-size: 2.5rem;
}

.discover-button {
  background-color: white;
  padding: 1rem;
  width: 9rem;
}

a {
  font-size: 0.8rem;
}

.discover-button a {
  text-decoration: none;
  color: #45489a;
  font-weight: bolder;
  opacity: 0.8;
}

.u-sm-Header > h1, p {
  margin: 0rem 0rem 2rem;
}

.blue {
  color: #45489a;
}

.light {
  font-weight: lighter;
}

h2 { 
  color: #232323;
  font-size: 2rem;
}

h3 {
  color: #232323;
  font-size: 1.4rem;
  margin: 1rem 0rem 0.3rem;
  font-weight: 550;
}

h4 {
  margin: 0rem 0rem 1rem;
  opacity: 0.8;
}

.container h3,h5,h6 {
  color: #232323;
}

.align-center {
  text-align: center;
  line-height: 1.5rem;
}

.align-center.center {
  align-items: center;
  /* width: 100%; */
  margin: 0rem 0rem 0.5rem;
  line-height: 2rem;
}

p.align-center {
  margin-bottom: 4rem;
  padding: 0rem 1rem;
  font-weight: 550;
  color: #232323;
  opacity: 0.8;
}

p {
  opacity: 0.8;
}

.inner-container {
  width: 100%;
  margin-bottom: 5rem;
  padding-bottom: 4rem;
}

.inner-1,
.inner-2,
.inner-3,
.inner-4 {
  width: 95%;
  margin: auto;
}

.inner-1 {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}

.flex-md-featured {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.featured {
  width: calc((100% - 1rem) / 2);
}

.featured > p {
  margin-bottom: 1rem;
}

.img {
  width: 100%;
}

.img-portfolio {
  margin-bottom: 1rem;
}

.border {
  border-bottom: solid 0.1rem #f4f4f4;
}

.date {
  display: flex;
  justify-content: space-around;
  background-color: #f4f4f4;
}

.month.purple {
  background-color: #45489a;
  color: white;
}

.month {
  padding: 2rem 1rem;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 650;
  color: #232323;
}

.text > .continue-button {
  background-color: #45489a;
  padding: 1rem;
  width: 10rem;
  text-align: center;
}

.continue-button a {
  color: white;
  text-decoration: none;
}

.blog {
  padding: 0.8rem 1.6rem;
}

.blog-1 {
  border-top: solid 0.7rem #45489a ;
  
}

.img-blog-2,
.img-blog-3 {
  border-top: solid 0.1rem lightgray;
  padding-top: 0.8rem;
}

.blog-3 {
  padding-bottom: 2rem;
}


.gray {  
  background-color: #f4f4f4;
}

.contact {
  border: solid 0.05rem lightgray;
  margin-bottom: 1.5rem;
  background-color: #f4f4f4;
}

.contact::placeholder {
  color: #232323;
  opacity: 0.4;
  font-weight: bolder;
}

.contact-sm {
  padding: 0.9rem;
}

.contact-lg {
  padding: 0.5rem 0.5rem 11rem;
}

.inner-4,
.div-contact-flex {
  display: flex;
  flex-direction: column;
}

.contact-button {
  background-color: #45489a;
  padding: 0.9rem 0rem;
  text-align: center;
}

.contact-button a {
  color: white;
  text-decoration: none;
}

.inner-4 {
  margin-bottom: -4rem;

}

.succes {
  background-color: #232323;
  padding: 1.8rem;
  text-align: center;
}

.succes p {
  margin: 0rem;
  color: white;
  font-weight: lighter;
  opacity: 0.8;
  font-size: 0.8rem;
}




@media screen and (min-width: 521px) {

  .Header {
    display: flex;
    position: relative;
  }

  .u-sm-Header {
    position: absolute;
    right: 4rem;
    align-items: flex-end;
  }

  .u-sm-Header h1,p {
    text-align: right;
  }

  .u-md-header {
    display: flex;
    flex-direction: column;
    color: white;
    width: 23%;
  }

  .header-img {
    height: 20%;
    background-color: #45489a;
  }

  .header-nav {
      display: flex;
      background-color: #232323;
      opacity: 0.9;
      height: 80%;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    padding: 50% 0rem 50% 2rem;
  }

  .nav-item {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
  }

  .round {
    height: 0.7rem;
    width: 0.7rem;
    border: solid 0.1rem white;
    border-radius: 50%;
  }

  .nav-item p {
    margin: 0rem;
    padding-left: 0.5rem;
    font-size: 0.8rem;
  }

  .border-header-img {
    border: solid 0.05rem lightgray;
    padding: 2rem;
    margin: 1rem;
  }

  .inner-1,
  .inner-2,
  .inner-3,
  .inner-4 {
  width: 85%;
  margin: auto;
}

  .inner-1 {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .featured {
    width: calc((100% - 4rem) / 4);
  }

  .flex-md-text {
    display: flex;
    justify-content: start;
  }

  .flex-md-featured {
    display: flex;
    justify-content: space-between;
  }

  .align-center {
    text-align: left;
  }
  
  .align-center.center {

  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 220px 313px;
    grid-gap: 1rem / 1rem;
    grid-template-areas: 
    "img-portfolio-1 img-portfolio-1 img-portfolio-1"
    "img-portfolio-2 img-portfolio-3 img-portfolio-4"
    "img-portfolio-5 img-portfolio-5 img-portfolio-5"
    ;
  }


  .img-portfolio-1 {
    grid-area: img-portfolio-1;
  }
  
  .img-portfolio-2 {
    grid-area: img-portfolio-2;
  }

  .img-portfolio-3 {
    grid-area: img-portfolio-3;
  }

  .img-portfolio-4 {
    grid-area: img-portfolio-4;
  }

  .img-portfolio-5 {
    grid-area: img-portfolio-5;
  }
}