html { 
  height: 100%;
}

* { box-sizing: border-box;}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #7a7a7a;
  height: 100%;
  margin: 0rem;
  line-height: 1rem;
  }

.u-md-header,
.header-nav {
  display: none;
}

.Header {
  background-image: url(img/slide_1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  height: 50rem;
}

.u-sm-Header {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: white;
  color: #45489a;
  padding: 1rem;
  width: 9rem;
}

