html { 
  height: 100%;
}

* { box-sizing: border-box;}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #7a7a7a;
  height: 100%;
  margin: 0rem;
  }

.u-md-header,
.header-nav {
  display: none;
}

.Header {
  background-image: url(img/slide_1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  height: 50rem;
}

.u-sm-Header {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.discover-button {
  background-color: white;
  padding: 1rem;
  width: 9rem;
}

.discover-button a {
  text-decoration: none;
  color: #45489a;
}

.u-sm-Header > h1, p {
  margin: 0rem 0rem 2rem;
}

font {
  color: #45489a;
}

.container h1,h2,h3,h5,h6 {
  color: black;
}

.align-center {
  text-align: center;
}

.inner-container {
  width: 100%;
}

.inner-1,
.inner-2,
.inner-3 {
  width: 90%;
  margin: auto;
}

.inner-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.featured {
  width: calc((100% - 1.5rem) / 2);
}

.img {
  width: 100%;
}

.center {
  align-items: center;
  width: 100%;
}

.border {
  border-bottom: solid 0.1rem #f4f4f4;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}

.continue-button {
  background-color: #45489a;
  padding: 1rem;
  width: 10rem;
}

.continue-button a {
  color: white;
  text-decoration: none;
}

.blog {
  margin-bottom: 1rem;
  border-bottom: solid 0.1rem #f4f4f4;
  padding: 1rem 1.5rem;
}

.blog-1 {
  border-top: solid 0.5rem #45489a ;
  
}

.inner-3 {  
  background-color: #f4f4f4;
}